{% extends 'navigation.html' %}
{% block content %}
<div class="row">
<div class="col-md-8 offset-md-2">
    <div class="card text-center">
        <div class="card-header mat360-title"><strong>Traveller Ride Details</strong></div>
  <div class="card-body">
    <div class="card-text">
        <form method="post" action="">
            {% csrf_token %}
        <!--First Row-->
            <div class="row">
                <div class="col-md-6">
                    <select class="form-select mb-3" id="departure" name="departure">
                            <option value="" disabled selected>SELECT DEPARTING STATION</option>
                                {% for station in stations %}
                                     <option value="{{ station }}">{{ station }}</option>
                                {% endfor %}
                    </select>
                </div>
            <div class="col-md-6">
                    <select class="form-select mb-3" id="destination" name="destination">
                            <option value="" disabled selected>SELECT DESTINATION STATION</option>
                                {% for station in stations %}
                                     <option value="{{ station }}">{{ station }}</option>
                                {% endfor %}
                    </select>
            </div>
            </div>
         <!--First Row-->
        <!--Second Row-->

            <div class="row">
                <div class="col-md-6">
                     <select class="form-select mb-3" id="saccoName">
                            <option value="" disabled selected>CHOOSE SACCO</option>
                    </select>
                </div>
            <div class="col-md-6">
                    <select class="form-select mb-3" id="rideNumber" name="rideNumber">
                            <option value="" disabled selected>CHOOSE VEHICLE NUMBER</option>
                    </select>
            </div>
            </div>
         <!--Second Row-->
           <!--Third Row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-list-ol"></i> </span>
                      <input type="text" class="form-control" placeholder="VEHICLE CAPACITY" id="totalSeats" aria-label="totalSeats" name="totalSeats" aria-describedby="basic-addon1">
                    </div>
                </div>
            <div class="col-md-6">
                   <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon2"><i class="fas fa-money-bill-alt"></i></span>
                      <input type="text" class="form-control" placeholder="ACTIVE FARE" id="activeFare" aria-label="activeFare" name="activeFare" aria-describedby="basic-addon2">
                    </div>
            </div>
            </div>
         <!--Third Row-->
          <!--4 Row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon3"><i class="fas fa-users"></i></span>
                      <input type="text" class="form-control" placeholder="ACTIVE BOOKINGS" id="activeBookings" aria-label="activeBookings" name="activeBookings" aria-describedby="basic-addon3">
                    </div>
                </div>
            </div>
         <!--4 Row-->
        <!--5 Row-->
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group mb-3">
                      <button type="submit" class="btn btn-primary mat360-btn" >Proceed To Pay</button>
                    </div>
                </div>
            </div>
         <!--5 Row-->

        </form>
    </div>

  </div>

</div>

</div>
</div>
{% block javascript %}
   <script>
           $(document).ready(function () {
               //Detect change in the destination
               $('#destination').change(function () {

              var departure = $("#departure").val();
              var destination = $(this).val();
             if (departure == ''){
                 alert('Please fill in your departure Town to Proceed')
             }
             else {
                  $.ajax({
                     url:"{% url 'home:check-saccos' %}",
                     data:{
                         'departure':departure,
                         'destination':destination,
                     },
                     dataType: 'json',
                     success:function (result) {
                         $("#saccoName option").remove();
                             InitName='CHOOSE SACCO';
                             InitValue='NULL';
                             $("#saccoName").append(new Option(InitName,InitValue));

                         for (var i = result.length - 1; i >= 0; i--) {
                             saccoName=result[i].name;
                             saccoRegNo=result[i].regnumber;
                             $("#saccoName").append(new Option(saccoName,saccoRegNo));
                                    //$("#saccoName").append('<option >'+ result[i].name +'</option>');
                                };


                     },

                 })
             }










        })
               //Detect change in the value of Sacco to list all the rides;
               //This is the function to detect on change in the select of saccos.
         $('#saccoName').change(function () {
               var sacco=$(this).children("option:selected").val();
              var departure = $("#departure").val();
              var destination = $("#destination").val();
             $.ajax({
                 url:"{% url 'home:listrides' %}",
                 data:{
                     'sacco':sacco,
                     'departure':departure,
                     'destination':destination,
                 },
                 dataType: 'json',
                 success:function (result) {
                     $("#rideNumber option").remove();
                             InitName='CHOOSE VEHICLE NUMBER';
                             InitValue='NULL';
                             $("#rideNumber").append(new Option(InitName,InitValue));
                     for (var i = result.length - 1; i >= 0; i--) {
                                vehicleNumber=result[i].vnumber
                                $("#rideNumber").append(new Option(vehicleNumber,vehicleNumber));
                            };


                 }

             })       });
               //On focus of the sacco name
                 $('#saccoName').click(function () {

              var departure = $("#departure").val();
              var destination = $("#destination").val();
                  $.ajax({
                     url:"{% url 'home:check-saccos' %}",
                     data:{
                         'departure':departure,
                         'destination':destination,
                     },
                     dataType: 'json',
                     success:function (result) {
                         if(result.length<1){
                             alert("SORRY. There is no sacco registered in our platform operating in the specified route.")

                         }





                     },

                 })











        })
               //This is function to fill vehicle details
                $('#rideNumber').change(function () {
             var departure = $("#departure").val();
             var destination = $("#destination").val();
             var ride=$(this).children("option:selected").val()
              var sacco=$("#saccoName").children("option:selected").val()

             $.ajax({
                 url:"{% url 'home:rideimportantdetails' %}",
                 data:{
                     'saccoreg':sacco,
                     'vnumber':ride,
                     'departure':departure,
                     'destination':destination,
                 },
                 dataType: 'json',
                 success:function (result) {
                      $("#totalSeats").val(result[0].capacity);
                      $("#activeFare").val(result[0].fareamount);
                      $("#activeBookings").val(result[0].tbookings);

                      //alert(JSON.stringify(result))

                 }

             })       });

           })
        </script>
{% endblock %}

{% endblock %}