{% extends 'stage_controller/base.html' %}
{% load static %}
{% block content %}
<div id="main">
 <div class="container">
     <div class="row">
         <div class="col s12 m12">
             <p class="center-align"><b><u>STAGE CONTROLLER DASHBOARD</u></b></p>
             {% if messages  %}
                 {% for message in messages %}
                     <p class="center-align green-text">{{ message }}</p>
                 {% endfor %}
             {% endif %}
         </div>
     </div>

     <div class="row">
         <div class="col s12">
             <div class="card">
                 <div class="card-content">
                     <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>V.Number</th>
              <th>Driver Name</th>
              <th>Confirmed BY</th>
               <th>Confirmed At</th>
               <th>My Action</th>
          </tr>
        </thead>

        <tbody>
         {% if rides  %}
            {% for ride in rides  %}
                 <tr>
            <td>{{ ride.vehicle.v_number }}</td>
            <td>{{ ride.vehicle.driver.user.first_name }} {{ ride.vehicle.driver.user.last_name }} </td>
            <td>{{ ride.vehicle.driver.user.first_name }} {{ ride.vehicle.driver.user.last_name }}</td>
               <td>{{ ride.time_available_by_driver|time }}</td>
               <td><form method="post" action="">
                   {% csrf_token %}
                   <input type="hidden" value="{{ ride.id }}" name="v_id">
                   <button class="btn custom-btn">Confirm Availability</button>
               </form> </td>
          </tr>

            {% endfor %}
            {% else %}
            <p class="center-align red-text">There are no available rides</p>

        {% endif %}
        </tbody>
      </table>
                 </div>
             </div>
         </div>
     </div>


  <!--This is the column for tables-->
 </div>
</div>






{% endblock %}