
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">

      {% load static %}
    <title>Mat360 | Book a ride while at the comfort of your zone.</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'controlled/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'controlled/css/animate.css' %}">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'controlled/css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'controlled/css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'controlled/css/dashboard-modern.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'controlled/css/intro.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gtallk.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/new-main.css' %}">

     <link rel="shortcut icon" href="{% static 'assets/media/logo.ico' %}" type="image/x-icon"/>



  </head>
  <!-- END: Head-->
  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 2-columns   " data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <header class="page-topbar" id="header">
      <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-indigo-purple no-shadow">
          <div class="nav-wrapper">
            <ul class="navbar-list right">
                <li><a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons">notifications_none<small class="notification-badge">{{total_alerts }}</small></i></a></li>
              <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown">{{ user.get_username }}<span>                 
              </span><span class="material-icons">keyboard_arrow_down</span> </a></li>

            </ul>
              <!-- notifications-dropdown-->
            <ul class="dropdown-content" id="notifications-dropdown">
              <li>
                <h6>NOTIFICATIONS<span class="new badge"></span></h6>
              </li>

            </ul>

            <ul class="dropdown-content" id="profile-dropdown">
                <li><a class="grey-text text-darken-1" href=""><i class="material-icons">person_outline</i> Profile</a></li>
                <li><a class="grey-text text-darken-1" href="{% url 'sacco_manager:sacco-settings' %}"><i class="material-icons">engineering_outline</i> Settings</a></li>
                <li><a class="grey-text text-darken-1" href="{% url 'sacco_manager:sacco-finances' %}"><i class="material-icons">money</i> Finances</a></li>

                <li class="divider"></li>
                <li><a class="grey-text text-darken-1" href="{% url 'sacco_manager:logout' %}"><i class="material-icons">keyboard_tab</i> Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- END: Header-->

    <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
      <div class="brand-sidebar">
               <p class="center-align">{{ user.sacco_manager.sacco.sacco_name }} Manager</p>
      </div>
      <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
        <li class="active bold"><a class="collapsible-header waves-effect waves-cyan" href="{% url 'sacco_manager:sacco-manager-dashboard' %}" ><i class="material-icons">home</i><span class="menu-title" data-i18n="Dashboard">DashBoard</span></a>
         </li>
          <li class="navigation-header"><a class="navigation-header-text">PORTALS</a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
           <li class="bold"><a class="waves-effect waves-cyan " href="{% url 'sacco_manager:register_route' %}"><i class="material-icons">person_outline</i><span class="menu-title" data-i18n="User Profile">ROUTES</span></a></li>
           <li class="bold"><a class="waves-effect waves-cyan " href="{% url 'sacco_manager:new-controller' %}"><i class="material-icons">person_outline</i><span class="menu-title" data-i18n="User Profile">STAGE CONTROLLERS</span></a></li>

      <!--Vehicles-->
           <li class="navigation-header"><a class="navigation-header-text">SACCO VEHICLES</a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
         <li class="bold"><a class="waves-effect waves-cyan " href="{% url 'sacco_manager:new-vehicle-registration' %}"><i class="material-icons">person_outline</i><span class="menu-title" data-i18n="User Profile">New Vehicle</span></a></li>
         <li class="bold"><a class="waves-effect waves-cyan " href="{% url 'sacco_manager:our-fleet' %}"><i class="material-icons">airport_shuttle</i><span class="menu-title" data-i18n="User Profile">Our Fleet</span></a></li>

           <!--Finances and statistics-->
           <li class="navigation-header"><a class="navigation-header-text">SACCO ROUTES</a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
         <li class="bold"><a class="waves-effect waves-cyan " href="{% url 'sacco_manager:vehicle_stats' %}"><i class="material-icons">person_outline</i><span class="menu-title" data-i18n="User Profile">Vehicle Statistics</span></a></li>


        
      </ul>
      <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
    </aside>
    <!-- END: SideNav-->








    <!-- BEGIN: Page Main-->

    {% block content %}

    {% endblock %}
    <!-- END: Page Main-->









    <!-- BEGIN: Footer-->

    <footer class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
      <div class="footer-copyright">
        <div class="container"><span>&copy; 2020 <a href="" target="_blank">Mat360</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by <a href="hornafrictech.com">HornAfricTech</a></span></div>
      </div>
    </footer>

    <!-- END: Footer-->
    <script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
    <!-- BEGIN VENDOR JS-->
    <script src="{% static 'controlled/js/vendors.min.js' %}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{% static 'controlled/jss/chart.min.js' %}"></script>
    <!-- BEGIN THEME  JS-->
    <script src="{% static 'controlled/js/plugins.min.js' %}"></script>
    <script src="{% static 'controlled/js/search.min.js' %}"></script>
    <script src="{% static 'controlled/js/customizer.min.js' %}"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{% static 'controlled/js/dashboard-modern.js' %}"></script>
    <script src="{% static 'controlled/js/intro.min.js' %}"></script>
    <!-- END PAGE LEVEL JS-->
    {% block javascript %}
    {% endblock %}
  </body>
</html>